<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title"><span class="glyphicon glyphicon-check"></span> Cerrar Turno {{turn.anio}}-{{turn.id}}
    </h4></div>
<div class="modal-body">
    <label class="control-label" for="nota">Observacion:</label>
    <textarea class="form-control" id="nota" ng-model="nota" rows="5"></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-success" type="button" ng-click="ok()">Cerrar</button>
</div>