<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title"><span class="glyphicon glyphicon-check"></span> Cerrar Turno {{turn.anio}}-{{turn.id}}
    </h4></div>
<div class="modal-body">
    <form name="form" role="form" novalidate class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-2" for="nota">Observacion:</label>

            <div class="col-xs-10" ng-class="{'has-error': form.nota.$invalid && submitted}">
                <textarea class="form-control" id="nota" ng-model="nota" rows="5" name="nota"></textarea>

                <p ng-show="form.nota.$invalid && submitted" class="help-block"> Incorrecto </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button ng-file-select ng-model="files" multiple="true" accept="{{fileMask}}" class="btn btn-success">
                    Subir Archivos de Cierre
                </button>
            </div>
        </div>
        <div class="row">
            <ul class="list-group col-xs-11 col-xs-offset-1">
                <li ng-repeat="file in archivos" class="list-group-item">
                    <ng-form name="innerForm">
                        <div class="row" ng-class="{'has-error': innerForm.file.$invalid && submitted}">
                            <div class="col-xs-7">
                                <span>{{file.nombre}}</span>
                            </div>
                            <div class="col-xs-4">
                                <select class="form-control" ng-model="file.idTipoArchivo" required="required"
                                        name="file"
                                        ng-options="fileType.id as fileType.descripcion for fileType in fileTypes">
                                    <option value="">Seleccione uno</option>
                                </select>

                                <p ng-show="innerForm.file.$invalid && submitted" class="help-block"> Seleccione un
                                    tipo </p>
                            </div>
                            <div class="col-xs-1">
                                <button type="button" class="close" aria-label="Close" ng-click="deleteFile(file)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </ng-form>
                </li>
            </ul>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-success" type="button" ng-click="ok(form)">Cerrar</button>
</div>