<div class="modal-header dialog-header-confirm">
    <h4 class="modal-title"><span class="glyphicon glyphicon-star"></span> Login</h4>
</div>
<div class="modal-body">
    <div>
        <h2>Login to: <strong>{{data.website.WEB_SITE_NAME}}</strong> as <strong>{{data.realtor.NAME}}</strong></h2>
    </div>
    <table class="table table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th class="col-md-9">Name</th>
            <th class="col-md-3">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <strong>Production (Admin) Login</strong>
            </td>
            <td>
                <a href="/login_as_realtor.php?website=http://{{data.website.WEB_SITE_URL}}/&realtor_id={{data.realtor.USER_REALTOR_ID}}"
                   target="_blank" role="button" class="btn btn-primary">Login</a>
                <a href="/login_as_realtor.php?website=http://{{data.website.WEB_SITE_URL}}/&realtor_id={{data.realtor.USER_REALTOR_ID}}&goto=agents/{{data.realtor.USER_REALTOR_ID}}/edit"
                   target="_blank" role="button" class="btn btn-success">Edit Realtor</a>
            </td>
        </tr>
        <tr ng-repeat="testDomain in data.testDomains">
            <td>
                {{testDomain.name}}
            </td>
            <td>
                <a href="/login_as_realtor.php?website=http://{{data.website.WEB_SITE_URL}}{{testDomain.domain}}/&realtor_id={{data.realtor.USER_REALTOR_ID}}"
                   target="_blank" role="button" class="btn btn-primary">Login</a>
                <a href="/login_as_realtor.php?website=http://{{data.website.WEB_SITE_URL}}{{testDomain.domain}}/&realtor_id={{data.realtor.USER_REALTOR_ID}}&goto=agents/{{data.realtor.USER_REALTOR_ID}}/edit"
                   target="_blank" role="button" class="btn btn-success">Edit Realtor</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>