<div class="page-header">
    <h1>Atención de Turno</h1>
</div>
<div class="table-responsive">
    <table class="table table-compact table-stripped">
        <thead>
        <tr>
            <th>Turno DFI</th>
            <th>Turno DGESU</th>
            <th>Área</th>
            <th>Asignado</th>
            <th>Asunto</th>
            <th>Fecha Compromiso de Cierre</th>
            <th>Cumplimiento</th>
            <th>Archivo de Entrada</th>
            <th>Fecha Apertura</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.turnoDFI}}</td>
            <td>{{item.turnoDGESU}}</td>
            <td>{{item.area}}</td>
            <td>{{item.asignado}}</td>
            <td>{{item.asunto}}</td>
            <td>{{item.fechaCierre}}</td>
            <td>{{item.status}}</td>
            <td>{{item.archivoEntrada}}</td>
            <td>{{item.fechaApertura}}</td>
        </tr>
        </tbody>
    </table>
</div>