<div class="page-header">
    <h1>Busqueda de Turnos</h1>
</div>
<div class="table-responsive">
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th class="col-xs-1">Turno DFI</th>
            <th class="col-xs-1">Turno DGESU</th>
            <th class="col-xs-1">Área</th>
            <th class="col-xs-1">Asignado</th>
            <th class="col-xs-2">Asunto</th>
            <th class="col-xs-1">Fecha Compromiso de Cierre</th>
            <th class="col-xs-1">Cumplimiento</th>
            <th class="col-xs-1">Fecha Apertura</th>
            <th class="col-xs-4">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in turns">
            <td>{{item.anio}}-{{item.id}}</td>
            <td>{{item.turnoDGESU}}</td>
            <td>
                <div ng-repeat="id in item.areas">{{getArea(id)}}</div>
            </td>
            <td>{{item.asignado}}</td>
            <td>{{item.asunto}}</td>
            <td>{{item.fechaLimite | date : "dd-MM-yyyy"}}</td>
            <td>{{item.estatus}}</td>
            <td>{{item.fechaAlta | date : "dd-MM-yyyy"}}</td>
            <td>
                <button class="btn btn-sm btn-primary" popover="Editar" popover-trigger="mouseenter" ng-disabled="false"
                        ng-click="">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-sm btn-primary" popover="Asignar" popover-trigger="mouseenter" ng-disabled="false"
                        ng-click="">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
                <button class="btn btn-sm btn-success" popover="Atencíon" popover-trigger="mouseenter" ng-disabled="false"
                        ng-click="">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button class="btn btn-sm btn-success" popover="Cierre" popover-trigger="mouseenter" ng-disabled="false"
                        ng-click="close(item)">
                    <span class="glyphicon glyphicon-book"></span>
                </button>
                <button class="btn btn-sm btn-info" popover="Ver" popover-trigger="mouseenter" ng-disabled="false"
                        ng-click="view(item)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <button class="btn btn-sm btn-info" popover="Archivos" popover-trigger="mouseenter" ng-disabled="false"
                        ng-click="">
                    <span class="glyphicon glyphicon-file"></span>
                </button>
                <button class="btn btn-sm btn-danger" popover="Rechazar" popover-trigger="mouseenter" ng-disabled="false"
                        ng-click="reject(item)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>