<div class="page-header">
    <h1>Captura de Turno</h1>
</div>
<form role="form" class="form-horizontal">
    <div class="form-group">
        <label for="fecha-captura" class="col-xs-1">Fecha de Captura:</label>

        <div class="col-xs-2">
            <p id="fecha-captura" class="form-control-static">{{today | date : "dd-MM-yyyy"}}</p>
        </div>

        <label for="fecha-recepcion" class="col-xs-1">Fecha de Recepción:</label>

        <div class="col-xs-2">

            <input id="fecha-recepcion" type="date" class="form-control" ng-model="fechaRecepcion">
        </div>
        <label for="prioridad" class="col-xs-1">Prioridad:</label>

        <div class="col-xs-2">
            <select id="prioridad" ng-model="prioridad" class="form-control"
                    ng-options="priority.code as priority.name for priority in priorities">
            </select>
        </div>

        <label for="tipo-tramite" class="col-xs-1">Tipo de Tramite:</label>

        <div class="col-xs-2">
            <select id="tipo-tramite" ng-model="tipoTramite" class="form-control"
                    ng-options="type.code as type.name for type in processTypes">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="turno-dfi" class="col-xs-1">Turno DFI:</label>

        <div class="col-xs-2">
            <p id="turno-dfi" class="form-control-static">{{turn}}</p>
        </div>

        <label for="turno-dgesu" class="col-xs-1">Turno DGESU:</label>

        <div class="col-xs-2">

            <input id="turno-dgesu" type="text" class="form-control" ng-model="turnoDGESU">
        </div>
        <label for="no-oficio" class="col-xs-1">No. de Oficio:</label>

        <div class="col-xs-2">
            <input id="no-oficio" type="text" class="form-control" ng-model="numeroOficio">
        </div>

        <label for="fecha-oficio" class="col-xs-1">Fecha de oficio:</label>

        <div class="col-xs-2">
            <input id="fecha-oficio" type="date" class="form-control" ng-model="fechaOficio">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-1">Tipo de Remitente:</label>
        <label class="radio-inline" ng-repeat="senderType in senderTypes">
            <input type="radio" name="remitente" ng-model="tipoRemitente" id="remitente{{senderType.code}}"
                   value="{{senderType.code}}">
            {{senderType.name}}
        </label>
    </div>
    <div class="form-group">
        <label for="institucion" class="col-xs-1">Institución:</label>

        <div class="col-xs-8">
            <select id="institucion" ng-model="institucion" class="form-control"
                    ng-options="institution.code as institution.name for institution in institutions">
            </select>
        </div>

        <label for="clave-911" class="col-xs-1">Clave 911:</label>

        <div class="col-xs-2">

            <p id="clave-911" class="form-control-static">{{institucion.code911}}</p>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Registrar Turno</button>
</form>

<div class="row">
    <div class="col-xs-12">
        <hr>
    </div>
</div>